header {
  position: relative;
  padding: 8rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    .logo {
      height: 4.8rem;
      img {
        height: 100%;
      }
    }
  }
  .lang_btn_wrap {
    .lang {
      display: block;
      margin-right: $margin80;
      border: 1px solid $grey500;
      display: inline-block;
      font-size: $font-size_small;
      font-weight: 500;
      height: 4.8rem;
      line-height: calc(4.8rem - 2px);
      color: #1e2d37;
      padding: 0 1.2rem;
      border: 1px solid #1e2d37;
      margin-right: $margin80;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $grey500;
        color: $grey0;
      }
    }
  }

  .popup {
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    .textbox {
      width: 500px;
      height: 100px;
      background-color: #ffffff;
      text-align: center;
      line-height: 30px;
      padding-top: 5px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      box-shadow: 0px 3px 10px #757575;
      p {
        font-size: 1.6rem;
      }
    }
    .btn_close {
      position: absolute;
      bottom: 0.8rem;
      left: 50%;
      transform: translateX(-50%);
      width: 44px;
      height: 24px;
    }
  }
}
