main {
  .banner {
    width: 100%;
    display: flex;
    .banner_item {
      width: calc(100% / 3);
      .text_wrap {
        p {
          font-size: 2.8rem;
          font-weight: 700;
          color: $grey500;
          margin: 12rem;
          margin-right: 0;
          line-height: 4.8rem;
        }
        .title {
          display: block;
          font-size: 4rem;
          font-weight: 700;
          color: $grey500;
          position: relative;
          transition: padding 0.3s cubic-bezier(0.4, 0, 1, 1);
          margin: 12rem;
          margin-right: 0;
        }
        ::before {
          transition: opacity 0.3s ease-in-out;
          opacity: 0;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          display: inline-block;
          width: 6.4rem;
          height: 6.4rem;
          background: $grey500 url(../img/icon/icon_home_arrow.svg) no-repeat
            center;
          background-size: 2.4rem;
          border-radius: 40rem;
          vertical-align: middle;
        }
      }
      &:hover .text_wrap .title {
        padding-left: 10.4rem;
      }
      &:hover .text_wrap .title::before {
        opacity: 1;
      }
      img {
        width: 100%;
      }
    }
  }
  .program_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    h2 {
      font-size: 4.8rem;
      a {
        color: $grey500;
      }
    }
    .program_item_img {
      background: url(../img/sm_img/11.jpeg) no-repeat center center/cover;
    }
  }
  .new_section {
    width: 100%;
    .new_list {
      .news_item {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        border-bottom: 1px solid #dce3e8;
        font-size: 2rem;
        color: #2a3f4d;
        font-weight: 600;
        line-height: 1.75;
        display: block;
        transition: all 0.3s ease-in-out;
        .container {
          display: flex;
          .category {
            color: #5b7282;
            margin-right: 4rem;
            align-items: center;
            font-size: 2rem;
          }
          .title {
            align-items: center;
            font-weight: 500;
            font-size: 2rem;
          }
          .date {
            font-size: 1.8rem;
            line-height: 1.57;
            margin-left: auto;
            font-weight: 400;
          }
        }
        &:hover {
          background-color: $grey10;
        }
      }
    }
  }
  .news_section2 {
    width: 100%;
    display: flex;
    a {
      display: block;
      width: calc(100% / 2);
      font-size: 2.4rem;
      line-height: 1.6;
      font-weight: 700;
      padding: 12rem;
      img {
        width: 100%;
      }
      .category {
        margin-top: $margin24;
        margin-bottom: $margin8;
        color: $grey200;
        line-height: 1.75;
      }
      .title {
        font-size: 2.4rem;
        color: $grey500;
        font-weight: 700;
      }
      .date {
        display: none;
      }
    }
  }
}
