.card {
  width: calc(100% / 4);
  display: block;
  padding: 12rem;
  border-left: 1px solid #dce3e8;
  border-bottom: 1px solid #dce3e8;
  font-weight: 700;
  color: #1e2d37;
  line-height: 1.6;
  transition: all 0.3s ease-in-out;
  @include mq("lg") {
    padding: 8rem;
  }
  @include mq("lg2") {
    width: calc(100% / 3);
    padding: 6rem;
  }
  @include mq("md") {
    padding: 4rem;
  }
  @include mq("sm") {
    padding: 2.4rem 1.6rem;
    border-left: none;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
}
.card:hover {
  background-color: $grey10;
}
.card:hover div.more_wrap .more_text {
  opacity: 1;
}
.card img {
  width: 100%;
  margin-bottom: 2.4em;
  max-width: 100%;
  @include mq("lg") {
    margin-bottom: 1.6rem;
  }
  @include mq("sm") {
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
.card div .sm_title {
  color: $grey200;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  @include mq("lg") {
    font-size: 1.6rem;
  }
  @include mq("lg2") {
    font-size: 1.4rem;
  }
}
.card div .big_title {
  font-size: 2.8rem;
  @include mq("lg") {
    font-size: 2rem;
  }
  @include mq("lg2") {
    font-size: 1.8rem;
  }
  @include mq("md") {
    font-size: 1.6rem;
  }
  @include mq("sm") {
    font-size: 1.8rem;
  }
}
.card div .text {
  color: $grey400;
  font-weight: 500;
  line-height: 1.78;
  font-size: 1.8rem;
  margin-top: $margin16;
  @include mq("lg") {
    font-size: 1.4rem;
    margin-top: $margin8;
  }
  @include mq("sm") {
    margin-top: 0;
  }
}
.card div.more_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9.6rem;
  @include mq("lg") {
    margin-top: $margin80;
  }
  @include mq("lg2") {
    margin-top: 6rem;
  }
  @include mq("md") {
    margin-top: 4rem;
  }
}
.card div.more_wrap .more_text {
  color: $grey500;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card div.more_wrap .more_icon {
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
