@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Pretendard, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 12rem;
  padding-left: 12rem;
  @include mq("lg") {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  @include mq("lg2") {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  @include mq("md") {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  @include mq("sm") {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}
